body {
    background-image: url(../imagenes/fondo.png);
    background-repeat: repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.navbar {
    height: 75px;
    width: 100%;
    background-color: #e5f7f0;
    display: flex;
    position: fixed;
    align-items: center;
    padding-left: 10px;
    gap: 15px;
    top: 0;
    left: 0;
    z-index: 1000;
}



/* LOGO */
#logo_pag {
    height: 70px; 
    cursor: pointer;
}

/* BUSCADOR */
#container_buscador {
    position: relative;
    display: flex;
    align-items: center;
}

/* input */
#buscador {
    height: 35px;
    width: 260px;
    border-radius: 100px;
    border: 2px solid #808080;
    font-size: 15px;
    padding-left: 12px;
    padding-right: 38px; /* espacio para la lupa */
}

/* lupa */
#icono_lupa {
    position: absolute;
    right: 14px;
    font-size: 16px;
    pointer-events: none; /* no molesta al escribir */
}



/* LOGOS DERECHA */
#contenedor_logos {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-grow: 1;
    margin-right: 20px;
    height: 50px;
    gap: 10px;
}

.logos {
    max-height: 50px;
    cursor: pointer;
    transition: transform 0.2s;
}

.logos:hover {
    transform: translateY(-5px);
}


/* FORMULARIO */
#container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e5f7f0;
    height: 455px;
    width: 400px;
    max-width: 500px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    flex-direction: column;
    margin-top: 75px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form input {
    width: 100%;
    padding: 3px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid #aaa;
}

form button {
    width: 50%;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid #aaa;
    align-self: center;
    margin-top: 10px;
}
