html, body{
    height: 100%;
    margin:0;
    padding:0;
}

.navbar {
    position: relative;
}

.pagina_perfil{
    
    display: grid;
    grid-template-columns: 300px 1fr 2fr;
    grid-template-rows: 250px auto auto;
    grid-template-areas:
        "foto nombre pass"
        "usuario mail mail"
        "memes_publicados categorias .";

    background-color:rgba(255, 255, 255, 0.85); 
    height: 100%;    
    width: 89%;
    margin-top: 50px; 
    margin-left: auto;  
    margin-right: auto;
    padding: 15px;
}

.foto_contenedor {
    width:256px;
    height:256px;    
    margin-left: 0;
    justify-self: center;
    position: relative;         
}

.foto_perfil{
    border: 4px solid #acd5ea;     
    box-shadow: 0px 4px 10px rgba(0,0,0,0.25);
    width: 100%;     
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    justify-self: center;
    display: inline-flex; 
    cursor: pointer;
    transition: 0.2s; 
}

.foto_perfil:hover {
    opacity: 0.8;
}

.icono_editar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: white;
    opacity: 0;
    transition: 0.3s ease-in-out;
    pointer-events: none; 
}

.foto_perfil:hover + .icono_editar {
    opacity: 1;
}

.contenedor_campo_editable {
    display: inline-flex;
    width: fit-content;
    height: fit-content;
}

.texto_editable {
    cursor: pointer;
    transition: 0.2s;
}

.texto_editable:hover {
    opacity: 0.6;
}

.input_editar {
    margin-top: 15px;
    height: min-content;
    font-weight: bold;
    background-color: #acd5ea55;
    border: 2px solid #acd5ea;
    border-radius: 8px;

}

.usuario_contenedor{
    grid-area:usuario;
    justify-self:center;
}


.nombre_usuario{
    justify-self: center;
    margin:0;
    padding-top: 15px;
    font-weight: bold;
}
