.containerRanking {
    margin-top: 70px;
    padding-top: 10px;
    margin-bottom: 10px;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

.containerInfoRanking {
    height: 100%;
    padding-bottom: 20px;
    width: 70%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    background-color: #e5f7f0;
    display: block;
}

.containerContextoRanking {
    margin: 30px;
    background-color: #67a18b;
    height: 150px;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.numeroRanking {
    margin: 30px;
    background-color: #67a18b;
    border-radius: 5px;
}

.containerPostRanking {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.postRanking {
    width: 100%;
    max-width: 600px;
    height: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    border: 2px solid black;
    cursor: pointer;
}

.postRanking img {
    max-width: 100%;
}

.tituloPostRanking {
    background-color: #67a18b;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    border-top: 2px solid black;
}